@green:#59B038;
@green-dark: darken(@green, 20%);

///////////////////////////////////////////////////////////////////////////
/////////////////////////// Page Structure ////////////////////////////////
///////////////////////////////////////////////////////////////////////////

//Page Body
body {
	font-family: 'Open Sans', sans-serif;
	padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
	margin: 50px 0;
}


///////////////////////////////////////////////////////////////////////////
///////////////////////////// Navigation //////////////////////////////////
///////////////////////////////////////////////////////////////////////////


//top nav bar
.navbar {
	margin-bottom: 0px !important;

	li{
		a.active{
			color: @green !important;
		}
	}

	.navbar-brand{
		img{
			height:30px;
			margin-top:-7px;
		}
	}
	border-bottom:2px solid @green;

}

//generic tabulator styling
.tabulator{
	font-family: sans-serif;
}

//side bar
.docs-sidebar{

	padding-top:10px;

	height:calc(~"100% - 70px");
	overflow-y: auto;

	#version-select{
		display: inline-block;
		float: right;

		font-size: 10px;

		button{
			display: block;

			margin-right:5px;
			margin-left:5px;
			margin-top:-5px;
			padding:2px 10px;

			font-size: 13px;
			vertical-align: middle;
		}

		ul.dropdown-menu {
			max-width: 20px;
			width:20px;
			overflow: hidden;

			li a{
				font-weight: bold;
			}
		}
	}


	.docs-sidenav{
		margin-top:10px;
		margin-bottom:5px;
		padding-bottom:10px;

		border-bottom:1px solid @green;

		font-size: 13px;
		font-weight:normal;

		h2{
			margin-top:15px;
			margin-bottom:5px;
			padding-bottom:10px;

			border-bottom:1px solid @green;

			font-size: 18px;
			font-weight: bold;

			&:first-child{
				margin-top:0;
				padding-top:0;
			}
		}

		ul{

			li{

				&.active{
					border-left:3px solid @green;
					font-weight: bold;

					a{
						padding-left:12px;
						color: @green;
					}
				}

				a{
					padding:4px 15px;

					// font-weight: bold;
					color:#999;

					&:hover{
						color:@green;
					}
				}
			}

			.label{
				margin-left:3px;
			}
		}
	}


	.share{
		margin-left:5px;
		margin-bottom:5px;

		span{
			vertical-align: middle;
			font-size: 1.4em;
		}

		a{
			vertical-align: middle;

			font-size: 2em;
			color: @green;

			&:hover{
				color:#222;
			}
		}
	}
}

///////////////////////////////////////////////////////////////////////////
////////////////////////// Special Elements ///////////////////////////////
///////////////////////////////////////////////////////////////////////////
.feature-box-legend{
	margin-top: 20px;
	margin-bottom: -10px;

	color: @green;
	font-weight: bold;
	font-size: 16px;

}

.feature-box{
	box-sizing: border-box;

	margin:20px 0;
	padding:10px 0;

	border-top:3px solid @green;
	border-bottom:3px solid @green;

	box-shadow: 0 0 7px 0 #000;

	background: #222;

	color: #fff;
	font-size: 14px;



	&.intro{
		box-sizing: border-box;
		margin-top: 40px;

		padding: 10px;

		p{
			font-size: 18px;
			font-weight: normal !important;
		}


		i{
			margin-right: 30px;
			font-size: 65px;
		}
	}

	.container{
		box-sizing: border-box;
		width: 100%;
		margin:0;
	}



	label{
		margin-right: 5px;
		color: @green;
	}

	input, select{
		padding:2px 5px;

		border:2px solid @green;

		color: #fff;
		background: #444;
		font-weight: bold;

		&:focus{
			outline-color: @green;
		}


		&::-webkit-input-placeholder {
			color:#6B8362;
		}

		&:-moz-placeholder { /* Firefox 18- */
			color:#6B8362;
		}

		&::-moz-placeholder {  /* Firefox 19+ */
			color:#6B8362;
		}

		&:-ms-input-placeholder {
			color:#6B8362;
		}
	}

	button{

		margin: 0 20px;
		padding:2px 10px;

		border:2px solid @green-dark;
		border-radius: 0;

		background: @green;

		color: #222;
		font-weight: bold;
		text-align: center;
		// text-shadow: 0 0 5px #000;

		outline: none;

		i{
			font-weight: normal;
		}

		&:hover{
			border:2px solid @green;

			background:#222;
			color: @green;
		}

		&:active{
			color: @green;
		}
	}


	table{

		box-sizing: border-box;

		h2{
			margin-bottom:3px;

			color:@green;
			font-weight: bold;
			font-size: 1.5em;
		}

		p{
			font-weight: bold;

			&:last-of-type{
				margin-bottom:0;
			}
		}

		a{
			color: @green;
			font-weight: bold;
		}

		strong{
			color: @green;
		}

		i{
			color: @green;
			font-size: 3em;
			margin-right:20px;
		}
	}
}


table.community-table{
	tbody{
		tr{
			background: #fff !important;
			td{
				border:none;

				&.community-icon{
					padding:5px 10px;

					color: @green;
					font-size:30px;
					text-align: center;
				}
			}
		}
	}

	table.community-table{

		margin-top:8px;

		tbody{
			tr{
				td{
					&.community-icon{
						font-size:
						20px;
					}
				}
			}
		}
	}
}


///////////////////////////////////////////////////////////////////////////
///////////////////////////// Body Styling ////////////////////////////////
///////////////////////////////////////////////////////////////////////////


//updated/new pills
h1, h2, h3{
	.label{
		margin-left:5px;

		font-size:11px;
		vertical-align: middle;
	}
}

//hidden link ancors
a.anchor {
	display: block;
	position: relative;
	margin-top: -20px;
	padding-top: 20px;
	visibility: hidden;
}


//// Forms & Controls ////


button, select{
	margin-right:20px;
}

.container{
	button{

		border:2px solid darken(@green, 20%);
		border-radius: 5px;

		padding: 5px 10px;

		background: @green;

		color: #fff;
		font-weight: bold;

		&:hover{
			background:darken(@green, 20%);
			border:2px solid  @green;
		}

		&.view-source{
			margin-top: 20px;
		}

	}
}

.alert-danger{
	font-size: 16px;
	font-weight: bold;

	&:first-child{
		margin-top:25px;
		margin-bottom:-10px;
	}

	i{
		margin-right:10px;
	}
}

.alert{
	&.download-now{
		margin-top:30px;
		margin-bottom:-10px;

		padding:5px 10px;

		font-weight:bold;
	}
}

.extension-info{
	padding:5px 10px;
}

article{

	position: relative;

	margin-top: 50px;

	&:first-of-type{
		margin-top:25px;
	}


	//// header styling ////

	h1{

		border-bottom:1px solid @green;

		padding-bottom:10px;

		font-weight: bold;

		.datestamp{
			color: @green;
		}

		.doc-link, .datestamp{
			margin-left:20px;

			font-size: 20px;
			vertical-align: middle;

			white-space: nowrap;

			i{
				font-size: .9em;
			}
		}
	}

	h2{
		font-size: 25px;
		margin-top:30px;
		font-weight: bold;
	}

	h3{

		margin-top:18px;
		font-size: 17px;
		font-weight: bold;
	}

	//// Links & Highlighting ////

	a{
		color: @green;
		font-weight: bold;

		&.example-link{

			color: #fff;
			font-weight: bold;
			font-size: 14px;

			vertical-align: middle;

			button{
				margin-left:5px;

				border:2px solid darken(@green, 20%);
				border-radius: 5px;

				padding: 5px 10px;

				background: @green;


				&:hover{
					background:darken(@green, 20%);
					border:2px solid  @green;
				}
			}

		}
	}

	p.note{
		box-sizing: border-box;

		margin-top:20px;
		padding:10px;

		border-left:5px solid @green;

		background: #f5f5f5;
	}

	.param{
		font-weight: bold;
		font-style: italic;
	}

	.highlight{
		color: @green;
		font-weight: bold;
	}


	fieldset{
		margin-top:20px;
		margin-bottom:10px;

		border: 2px solid @green;
		border-radius: 5px;

		padding:10px 20px;

		&.source{
			display: none;

			margin-bottom:0;

			legend{
				margin-bottom: 10px;
			}
		}

		legend{
			width: inherit;
			border:none;

			color: @green;
			font-size: 16px;
			line-height: 16px;
			font-weight: bold;

			background: #fff;
			padding:0 10px;

			margin-bottom: 0;

		}

		h3:first-of-type{
			margin-top: 0;
		}

		label{
			margin-right:5px;
		}

		button{
			margin-top: 0;
			margin-left:20px;
			padding: 2px 10px;
		}

		input, select{
			padding:1px;
		}

		input, select, button{
			vertical-align: middle;
		}
	}

	//// Tables ////

	table.plain{

		width:100%;

		td, th{
			border:1px solid #999;
			padding:3px;
		}

		th{
			background: #eee;
		}

	}


	table:not(.plain){

		width:100%;

		thead{

			border-bottom:3px solid @green;

			background: #222;

			color: #fff;
			font-weight: bold;

			white-space: nowrap;

			th{
				border:none;
				border-right: 1px solid #444;
			}
		}

		th,td{
			border:1px solid #999;
			padding:5px 10px;
		}

		tbody{
			tr{
				&:nth-of-type(even){
					td{
						background: #f9f9f9;
					}
				}

				&:last-of-type{
					td{
						border-bottom: 1px solid #222;
					}
				}

				td{
					&:first-of-type{
						border-left: 1px solid #222;
					}

					&:last-of-type{
						border-right: 1px solid #222;
					}
					a{
						button{
							margin: 0;
						}
					}
				}
			}
		}
	}
}
