#example-table-theme-modern {
  position: relative;
  border: 1px solid #fff;
  background-color: #fff;
  overflow: hidden;
  font-size: 16px;
  text-align: left;
  -ms-transform: translatez(0);
  transform: translatez(0);
}

#example-table-theme-modern.tabulator-block-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#example-table-theme-modern .tabulator-header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 3px solid #3759D7;
  margin-bottom: 4px;
  background-color: #fff;
  color: #3759D7;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  padding-left: 10px;
  font-size: 1.1em;
}

#example-table-theme-modern .tabulator-header .tabulator-col {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border-right: 2px solid #fff;
  background-color: #fff;
  text-align: left;
  vertical-align: bottom;
  overflow: hidden;
}

#example-table-theme-modern .tabulator-header .tabulator-col.tabulator-moving {
  position: absolute;
  border: 1px solid #3759D7;
  background: #e6e6e6;
  pointer-events: none;
}

#example-table-theme-modern .tabulator-header .tabulator-col .tabulator-col-content {
  position: relative;
  padding: 4px;
}

#example-table-theme-modern .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
  box-sizing: border-box;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

#example-table-theme-modern .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title .tabulator-title-editor {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #3759D7;
  padding: 1px;
  background: #fff;
  font-size: 1em;
  color: #3759D7;
}

#example-table-theme-modern .tabulator-header .tabulator-col .tabulator-col-content .tabulator-arrow {
  display: inline-block;
  position: absolute;
  top: 9px;
  right: 8px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #b7c3f1;
}

#example-table-theme-modern .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #3759D7;
  overflow: hidden;
}

#example-table-theme-modern .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols .tabulator-col:last-child {
  margin-right: -1px;
}

#example-table-theme-modern .tabulator-header .tabulator-col:first-child .tabulator-col-resize-handle.prev {
  display: none;
}

#example-table-theme-modern .tabulator-header .tabulator-col.ui-sortable-helper {
  position: absolute;
  background-color: #e6e6e6 !important;
  border: 1px solid #fff;
}

#example-table-theme-modern .tabulator-header .tabulator-col .tabulator-header-filter {
  position: relative;
  box-sizing: border-box;
  margin-top: 2px;
  width: 100%;
  text-align: center;
}

#example-table-theme-modern .tabulator-header .tabulator-col .tabulator-header-filter textarea {
  height: auto !important;
}

#example-table-theme-modern .tabulator-header .tabulator-col .tabulator-header-filter svg {
  margin-top: 3px;
}

#example-table-theme-modern .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {
  padding-right: 25px;
}

#example-table-theme-modern .tabulator-header .tabulator-col.tabulator-sortable:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

#example-table-theme-modern .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="none"] .tabulator-col-content .tabulator-arrow {
  border-top: none;
  border-bottom: 6px solid #b7c3f1;
}

#example-table-theme-modern .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="asc"] .tabulator-col-content .tabulator-arrow {
  border-top: none;
  border-bottom: 6px solid #3759D7;
}

#example-table-theme-modern .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="desc"] .tabulator-col-content .tabulator-arrow {
  border-top: 6px solid #3759D7;
  border-bottom: none;
}

#example-table-theme-modern .tabulator-header .tabulator-frozen {
  display: inline-block;
  position: absolute;
  z-index: 10;
}

#example-table-theme-modern .tabulator-header .tabulator-frozen.tabulator-frozen-left {
  padding-left: 10px;
  border-right: 2px solid #fff;
}

#example-table-theme-modern .tabulator-header .tabulator-frozen.tabulator-frozen-right {
  border-left: 2px solid #fff;
}

#example-table-theme-modern .tabulator-header .tabulator-calcs-holder {
  box-sizing: border-box;
  min-width: 200%;
  border-top: 2px solid #3759D7 !important;
  background: white !important;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  overflow: hidden;
}

#example-table-theme-modern .tabulator-header .tabulator-calcs-holder .tabulator-row {
  padding-left: 0 !important;
  background: white !important;
}

#example-table-theme-modern .tabulator-header .tabulator-calcs-holder .tabulator-row .tabulator-col-resize-handle {
  display: none;
}

#example-table-theme-modern .tabulator-header .tabulator-calcs-holder .tabulator-row .tabulator-cell {
  background: none;
}

#example-table-theme-modern .tabulator-tableHolder {
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#example-table-theme-modern .tabulator-tableHolder:focus {
  outline: none;
}

#example-table-theme-modern .tabulator-tableHolder .tabulator-placeholder {
  position: absolute;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#example-table-theme-modern .tabulator-tableHolder .tabulator-placeholder span {
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  color: #3759D7;
  font-weight: bold;
  font-size: 20px;
}

#example-table-theme-modern .tabulator-tableHolder .tabulator-table {
  position: relative;
  display: inline-block;
  background-color: #f3f3f3;
  white-space: nowrap;
  overflow: visible;
  color: #333;
}

#example-table-theme-modern .tabulator-tableHolder .tabulator-table .tabulator-row.tabulator-calcs {
  font-weight: bold;
  background: #f2f2f2 !important;
}

#example-table-theme-modern .tabulator-tableHolder .tabulator-table .tabulator-row.tabulator-calcs.tabulator-calcs-top {
  border-bottom: 2px solid #3759D7;
}

#example-table-theme-modern .tabulator-tableHolder .tabulator-table .tabulator-row.tabulator-calcs.tabulator-calcs-bottom {
  border-top: 2px solid #3759D7;
}

#example-table-theme-modern .tabulator-row {
  position: relative;
  box-sizing: border-box;
  box-sizing: border-box;
  min-height: 24px;
  background-color: #3759D7;
  padding-left: 10px !important;
  margin-bottom: 2px;
}

#example-table-theme-modern .tabulator-row:nth-child(even) {
  background-color: #627ce0;
}

#example-table-theme-modern .tabulator-row:nth-child(even) .tabulator-cell {
  background-color: #fff;
}

#example-table-theme-modern .tabulator-row.tabulator-selectable:hover {
  cursor: pointer;
}

#example-table-theme-modern .tabulator-row.tabulator-selectable:hover .tabulator-cell {
  background-color: #bbb;
}

#example-table-theme-modern .tabulator-row.tabulator-selected .tabulator-cell {
  background-color: #9ABCEA;
}

#example-table-theme-modern .tabulator-row.tabulator-selected:hover .tabulator-cell {
  background-color: #769BCC;
  cursor: pointer;
}

#example-table-theme-modern .tabulator-row.tabulator-moving {
  position: absolute;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  pointer-events: none !important;
  z-index: 15;
}

#example-table-theme-modern .tabulator-row .tabulator-frozen {
  display: inline-block;
  position: absolute;
  background-color: inherit;
  z-index: 10;
}

#example-table-theme-modern .tabulator-row .tabulator-frozen.tabulator-frozen-left {
  padding-left: 10px;
  border-right: 2px solid #fff;
}

#example-table-theme-modern .tabulator-row .tabulator-frozen.tabulator-frozen-right {
  border-left: 2px solid #fff;
}

#example-table-theme-modern .tabulator-row .tabulator-cell {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding: 6px 4px;
  border-right: 2px solid #fff;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #f3f3f3;
}

#example-table-theme-modern .tabulator-row .tabulator-cell.tabulator-editing {
  border: 1px solid #1D68CD;
  padding: 0;
}

#example-table-theme-modern .tabulator-row .tabulator-cell.tabulator-editing input, #example-table-theme-modern .tabulator-row .tabulator-cell.tabulator-editing select {
  border: 1px;
  background: transparent;
}

#example-table-theme-modern .tabulator-row .tabulator-cell:first-child .tabulator-col-resize-handle.prev {
  display: none;
}

#example-table-theme-modern .tabulator-row .tabulator-cell.tabulator-row-handle .tabulator-row-handle-bar {
  width: 80%;
  height: 3px;
  margin: 2px 10% 0 10%;
  background: #666;
}

#example-table-theme-modern .tabulator-row.tabulator-group {
  box-sizing: border-box;
  border-bottom: 2px solid #3759D7;
  border-top: 2px solid #3759D7;
  padding: 5px;
  padding-left: 10px;
  background: #8ca0e8;
  font-weight: bold;
  color: fff;
  margin-bottom: 2px;
  min-width: 100%;
}

#example-table-theme-modern .tabulator-row.tabulator-group:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

#example-table-theme-modern .tabulator-row.tabulator-group.tabulator-group-visible .tabulator-arrow {
  margin-right: 10px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #3759D7;
  border-bottom: 0;
}

#example-table-theme-modern .tabulator-row.tabulator-group.tabulator-group-level-1 .tabulator-arrow {
  margin-left: 20px;
}

#example-table-theme-modern .tabulator-row.tabulator-group.tabulator-group-level-2 .tabulator-arrow {
  margin-left: 40px;
}

#example-table-theme-modern .tabulator-row.tabulator-group.tabulator-group-level-3 .tabulator-arrow {
  margin-left: 60px;
}

#example-table-theme-modern .tabulator-row.tabulator-group.tabulator-group-level-4 .tabulator-arrow {
  margin-left: 80px;
}

#example-table-theme-modern .tabulator-row.tabulator-group.tabulator-group-level-5 .tabulator-arrow {
  margin-left: 1000px;
}

#example-table-theme-modern .tabulator-row.tabulator-group .tabulator-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 16px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 0;
  border-left: 6px solid #3759D7;
  vertical-align: middle;
}

#example-table-theme-modern .tabulator-row.tabulator-group span {
  margin-left: 10px;
  color: #3759D7;
}

#example-table-theme-modern .tabulator-col-resize-handle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
}

#example-table-theme-modern .tabulator-col-resize-handle.prev {
  left: 0;
  right: auto;
}

#example-table-theme-modern .tabulator-col-resize-handle:hover {
  cursor: ew-resize;
}

#example-table-theme-modern .tabulator-footer {
  padding: 5px 10px;
  border-top: 1px solid #999;
  background-color: #fff;
  text-align: right;
  color: #3759D7;
  font-weight: bold;
  white-space: nowrap;
  -ms-user-select: none;
      user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#example-table-theme-modern .tabulator-footer .tabulator-calcs-holder {
  box-sizing: border-box;
  width: calc("100% + 20px");
  margin: -5px -10px 5px -10px;
  text-align: left;
  background: white !important;
  border-top: 3px solid #3759D7 !important;
  border-bottom: 2px solid #3759D7 !important;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  overflow: hidden;
}

#example-table-theme-modern .tabulator-footer .tabulator-calcs-holder .tabulator-row {
  background: white !important;
}

#example-table-theme-modern .tabulator-footer .tabulator-calcs-holder .tabulator-row .tabulator-col-resize-handle {
  display: none;
}

#example-table-theme-modern .tabulator-footer .tabulator-calcs-holder .tabulator-row .tabulator-cell {
  background: none;
}

#example-table-theme-modern .tabulator-footer .tabulator-calcs-holder:only-child {
  margin-bottom: -5px;
  border-bottom: none;
  border-bottom: none !important;
}

#example-table-theme-modern .tabulator-footer .tabulator-pages {
  margin: 0 7px;
}

#example-table-theme-modern .tabulator-footer .tabulator-page {
  display: inline-block;
  margin: 0 2px;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 2px 5px;
  background: rgba(255, 255, 255, 0.2);
  color: #3759D7;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

#example-table-theme-modern .tabulator-footer .tabulator-page.active {
  color: #3759D7;
}

#example-table-theme-modern .tabulator-footer .tabulator-page:disabled {
  opacity: .5;
}

#example-table-theme-modern .tabulator-footer .tabulator-page:not(.disabled):hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}

#example-table-theme-modern .tablulator-loader {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

#example-table-theme-modern .tablulator-loader .tabulator-loader-msg {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
  background: #fff;
  font-weight: bold;
  font-size: 16px;
}

#example-table-theme-modern .tablulator-loader .tabulator-loader-msg.tabulator-loading {
  border: 4px solid #333;
  color: #000;
}

#example-table-theme-modern .tablulator-loader .tabulator-loader-msg.tabulator-error {
  border: 4px solid #D00;
  color: #590000;
}
