#example-table-theme-simple{
  position: relative;
  background-color: #fff;
  overflow: hidden;
  font-size: 14px;
  text-align: left; }
  #example-table-theme-simple.tabulator-block-select {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  #example-table-theme-simple .tabulator-header {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #999;
    background-color: #fff;
    color: #555;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none; }
    #example-table-theme-simple .tabulator-header .tabulator-col {
      display: inline-block; }
      #example-table-theme-simple .tabulator-header .tabulator-col.tabulator-moving {
        position: absolute;
        border: 1px solid #999;
        background: #e6e6e6;
        pointer-events: none; }
      #example-table-theme-simple .tabulator-header .tabulator-col .tabulator-col-content {
        position: relative;
        padding: 4px; }
        #example-table-theme-simple .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: bottom; }
          #example-table-theme-simple .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title .tabulator-title-editor {
            box-sizing: border-box;
            width: 100%;
            border: 1px solid #999;
            padding: 1px;
            background: #fff; }
        #example-table-theme-simple .tabulator-header .tabulator-col .tabulator-col-content .tabulator-arrow {
          display: inline-block;
          position: absolute;
          top: 9px;
          right: 8px;
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 6px solid #bbb; }
      #example-table-theme-simple .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        border-top: 1px solid #ddd;
        overflow: hidden; }
        #example-table-theme-simple .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols .tabulator-col:last-child {
          margin-right: -1px; }
      #example-table-theme-simple .tabulator-header .tabulator-col:first-child .tabulator-col-resize-handle.prev {
        display: none; }
      #example-table-theme-simple .tabulator-header .tabulator-col.ui-sortable-helper {
        position: absolute;
        background-color: #e6e6e6 !important;
        border: 1px solid #ddd; }
      #example-table-theme-simple .tabulator-header .tabulator-col .tabulator-header-filter {
        position: relative;
        box-sizing: border-box;
        margin-top: 2px;
        width: 100%;
        text-align: center; }
        #example-table-theme-simple .tabulator-header .tabulator-col .tabulator-header-filter textarea {
          height: auto !important; }
        #example-table-theme-simple .tabulator-header .tabulator-col .tabulator-header-filter svg {
          margin-top: 3px; }
      #example-table-theme-simple .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {
        width: calc(100% - 25px); }
      #example-table-theme-simple .tabulator-header .tabulator-col.tabulator-sortable:hover {
        cursor: pointer;
        background-color: #e6e6e6; }
      #example-table-theme-simple .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="none"] .tabulator-col-content .tabulator-arrow {
        border-top: none;
        border-bottom: 6px solid #bbb; }
      #example-table-theme-simple .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="asc"] .tabulator-col-content .tabulator-arrow {
        border-top: none;
        border-bottom: 6px solid #666; }
      #example-table-theme-simple .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="desc"] .tabulator-col-content .tabulator-arrow {
        border-top: 6px solid #666;
        border-bottom: none; }
    #example-table-theme-simple .tabulator-header .tabulator-col-row-handle {
      width: 30px;
      max-width: 30px;
      display: inline-block; }
    #example-table-theme-simple .tabulator-header .tabulator-col, #example-table-theme-simple  .tabulator-header .tabulator-col-row-handle {
      position: relative;
      box-sizing: border-box;
      border-right: 1px solid #ddd;
      text-align: left;
      vertical-align: bottom;
      overflow: hidden; }
    #example-table-theme-simple .tabulator-header .tabulator-frozen {
      display: inline-block;
      position: absolute;
      background-color: inherit;
      z-index: 10; }
      #example-table-theme-simple .tabulator-header .tabulator-frozen.tabulator-frozen-left {
        border-right: 2px solid #ddd; }
      #example-table-theme-simple .tabulator-header .tabulator-frozen.tabulator-frozen-right {
        border-left: 2px solid #ddd; }
  #example-table-theme-simple .tabulator-tableHolder {
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch; }
    #example-table-theme-simple .tabulator-tableHolder:focus {
      outline: none; }
    #example-table-theme-simple .tabulator-tableHolder .tabulator-placeholder {
      position: absolute;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
      #example-table-theme-simple .tabulator-tableHolder .tabulator-placeholder span {
        display: inline-block;
        margin: 0 auto;
        color: #000;
        font-weight: bold;
        font-size: 20px; }
    #example-table-theme-simple .tabulator-tableHolder .tabulator-table {
      position: relative;
      display: inline-block;
      background-color: #fff;
      white-space: nowrap;
      overflow: visible;
      color: #333; }
      #example-table-theme-simple .tabulator-tableHolder .tabulator-table .tabulator-row {
        position: relative;
        box-sizing: border-box;
        min-height: 22px;
        background-color: #fff;
        border-bottom: 1px solid #ddd; }
        #example-table-theme-simple .tabulator-tableHolder .tabulator-table .tabulator-row.tabulator-row-even {
          background-color: #fff; }
        #example-table-theme-simple .tabulator-tableHolder .tabulator-table .tabulator-row.tabulator-selectable:hover {
          background-color: #bbb;
          cursor: pointer; }
        #example-table-theme-simple .tabulator-tableHolder .tabulator-table .tabulator-row.tabulator-selected {
          background-color: #9ABCEA; }
        #example-table-theme-simple .tabulator-tableHolder .tabulator-table .tabulator-row.tabulator-selected:hover {
          background-color: #769BCC;
          cursor: pointer; }
        #example-table-theme-simple .tabulator-tableHolder .tabulator-table .tabulator-row.tabulator-moving {
          position: absolute;
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          pointer-events: none;
          z-index: 15; }
        #example-table-theme-simple .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-row-handle {
          display: inline-block;
          box-sizing: border-box;
          width: 30px;
          max-width: 30px;
          padding: 4px;
          border-right: 1px solid #ddd;
          text-align: center;
          vertical-align: middle;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
          #example-table-theme-simple .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-row-handle:hover {
            cursor: move;
            background-color: rgba(0, 0, 0, 0.1); }
          #example-table-theme-simple .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-row-handle div {
            width: 80%;
            height: 3px;
            margin: 2px 10% 0 10%;
            background: #666; }
        #example-table-theme-simple .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-frozen {
          display: inline-block;
          position: absolute;
          background-color: inherit;
          z-index: 10; }
          #example-table-theme-simple .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-frozen.tabulator-frozen-left {
            border-right: 2px solid #ddd; }
          #example-table-theme-simple .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-frozen.tabulator-frozen-right {
            border-left: 2px solid #ddd; }
        #example-table-theme-simple .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell {
          display: inline-block;
          position: relative;
          box-sizing: border-box;
          padding: 4px;
          border-right: 1px solid #ddd;
          vertical-align: middle;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
          #example-table-theme-simple .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell:last-of-type {
            border-right: none; }
          #example-table-theme-simple .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell.tabulator-editing {
            border: 1px solid #1D68CD;
            padding: 0; }
            #example-table-theme-simple .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell.tabulator-editing input, #example-table-theme-simple  .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell.tabulator-editing select {
              border: 1px;
              background: transparent; }
          #example-table-theme-simple .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell:first-child .tabulator-col-resize-handle.prev {
            display: none; }
        #example-table-theme-simple .tabulator-tableHolder .tabulator-table .tabulator-row.tabulator-group {
          box-sizing: border-box;
          border-bottom: 1px solid #999;
          border-right: 1px solid #ddd;
          border-top: 1px solid #999;
          padding: 5px;
          background: #fafafa;
          font-weight: bold;
          min-width: 100%; }
          #example-table-theme-simple .tabulator-tableHolder .tabulator-table .tabulator-row.tabulator-group:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.1); }
          #example-table-theme-simple .tabulator-tableHolder .tabulator-table .tabulator-row.tabulator-group.tabulator-group-visible .tabulator-arrow {
            margin-left: 5px;
            margin-right: 10px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #666;
            border-bottom: 0; }
          #example-table-theme-simple .tabulator-tableHolder .tabulator-table .tabulator-row.tabulator-group .tabulator-arrow {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 8px;
            margin-right: 13px;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-right: 0;
            border-left: 6px solid #666;
            vertical-align: middle; }
          #example-table-theme-simple .tabulator-tableHolder .tabulator-table .tabulator-row.tabulator-group span {
            margin-left: 10px;
            color: #666; }
  #example-table-theme-simple .tabulator-col-resize-handle {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5px; }
    #example-table-theme-simple .tabulator-col-resize-handle.prev {
      left: 0;
      right: auto; }
    #example-table-theme-simple .tabulator-col-resize-handle:hover {
      cursor: ew-resize; }
  #example-table-theme-simple .tabulator-footer {
    padding: 5px 10px;
    border-top: 1px solid #999;
    background-color: #fff;
    text-align: right;
    color: #555;
    font-weight: bold;
    white-space: nowrap;
    -ms-user-select: none;
        user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none; }
    #example-table-theme-simple .tabulator-footer .tabulator-pages {
      margin: 0 7px; }
    #example-table-theme-simple .tabulator-footer .tabulator-page {
      display: inline-block;
      margin: 0 2px;
      border: 1px solid #aaa;
      border-radius: 3px;
      padding: 2px 5px;
      background: rgba(255, 255, 255, 0.2);
      color: #555;
      font-family: inherit;
      font-weight: inherit;
      font-size: inherit; }
      #example-table-theme-simple .tabulator-footer .tabulator-page.active {
        color: #d00; }
      #example-table-theme-simple .tabulator-footer .tabulator-page:disabled {
        opacity: .5; }
      #example-table-theme-simple .tabulator-footer .tabulator-page:not(.disabled):hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.2);
        color: #fff; }
  #example-table-theme-simple .tablulator-loader {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    text-align: center; }
    #example-table-theme-simple .tablulator-loader .tabulator-loader-msg {
      display: inline-block;
      margin: 0 auto;
      padding: 10px 20px;
      border-radius: 10px;
      background: #fff;
      font-weight: bold;
      font-size: 16px; }
      #example-table-theme-simple .tablulator-loader .tabulator-loader-msg.tabulator-loading {
        border: 4px solid #333;
        color: #000; }
      #example-table-theme-simple .tablulator-loader .tabulator-loader-msg.tabulator-error {
        border: 4px solid #D00;
        color: #590000; }
