
//Main Theme Variables
$backgroundColor: #222; //background color of tabulator
$borderColor:#333; //border to tablulator
$textSize:14px; //table text size

//header themeing
$headerBackgroundColor:#333; //border to tablulator
$headerTextColor:#fff; //header text colour
$headerBorderColor:#aaa;  //header border color
$headerSeperatorColor:#999; //header bottom seperator color
$headerMargin:4px; //padding round header

//column header arrows
$sortArrowActive: #666;
$sortArrowInactive: #bbb;

//row themeing
$rowBackgroundColor:#666; //table row background color
$rowAltBackgroundColor:#444; //table row background color
$rowBorderColor:#888; //table border color
$rowTextColor:#fff; //table text color
$rowHoverBackground:#999; //row background color on hover

$rowSelectedBackground: #000; //row background color when selected
$rowSelectedBackgroundHover: #888;//row background color when selected and hovered

$editBoxColor:#999; //border color for edit boxes

//footer themeing
$footerBackgroundColor:#333; //border to tablulator
$footerTextColor:#333; //footer text colour
$footerBorderColor:#aaa; //footer border color
$footerSeperatorColor:#999; //footer bottom seperator color



//Tabulator Containing Element
.tabulator{
	position: relative;
	border: 1px solid $borderColor;
	background-color: $backgroundColor;
	overflow:hidden;
	font-size:$textSize;
	text-align: left;

	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
	-ms-transform: translatez(0);
	-o-transform: translatez(0);
	transform: translatez(0);

	&.tabulator-block-select{
		user-select: none;
	}

	//column header containing element
	.tabulator-header{
		position:relative;
		box-sizing: border-box;

		width:100%;

		border-bottom:1px solid $headerSeperatorColor;
		background-color: $headerBackgroundColor;
		color: $headerTextColor;
		font-weight:bold;

		white-space: nowrap;
		overflow:hidden;

		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-o-user-select: none;

		//individual column header element
		.tabulator-col{
			display:inline-block;
			position:relative;
			box-sizing:border-box;
			border-right:1px solid $headerBorderColor;
			background-color: $headerBackgroundColor;
			text-align:left;
			vertical-align: bottom;
			overflow: hidden;

			&.tabulator-moving{
				position: absolute;
				border:1px solid  $headerSeperatorColor;
				background:darken($headerBackgroundColor, 10%);
				pointer-events: none;
			}

			//hold content of column header
			.tabulator-col-content{
				position: relative;
				padding:4px;

				//hold title of column header
				.tabulator-col-title{
					box-sizing:border-box;
					width: 100%;

					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					vertical-align:bottom;

					//element to hold title editor
					.tabulator-title-editor{
						box-sizing: border-box;
						width: 100%;

						border:1px solid #999;

						padding:1px;

						background: #444;
						color: #fff;
					}

				}

				//column sorter arrow
				.tabulator-arrow{
					display: inline-block;
					position: absolute;
					top:9px;
					right:8px;
					width: 0;
					height: 0;
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
					border-bottom: 6px solid $sortArrowInactive;
				}

			}

			//complex header column group
			&.tabulator-col-group{

				//gelement to hold sub columns in column group
				.tabulator-col-group-cols{
					position:relative;
					display: flex;

					border-top:1px solid $headerBorderColor;
					overflow: hidden;

					.tabulator-col:last-child{
						margin-right:-1px;
					}
				}
			}

			//hide left resize handle on first column
			&:first-child{
				.tabulator-col-resize-handle.prev{
					display: none;
				}
			}

			//placeholder element for sortable columns
			&.ui-sortable-helper{
				position: absolute;
				background-color: darken($headerBackgroundColor, 10%) !important;
				border:1px solid $headerBorderColor;
			}

			//header filter containing element
			.tabulator-header-filter{
				position: relative;
				box-sizing: border-box;
				margin-top:2px;
				width:100%;
				text-align: center;

				//styling adjustment for inbuilt editors
				textarea{
					height:auto !important;
				}

				svg{
					margin-top: 3px;
				}

				input, select{
					border:1px solid #999;
					background: #444;
					color: #fff;
				}
			}

			//styling child elements for sortable columns
			&.tabulator-sortable{
				.tabulator-col-title{
					padding-right:25px;
				}

				&:hover{
					cursor:pointer;
					background-color:darken($headerBackgroundColor, 10%);
				}


				&[aria-sort="none"]{
					.tabulator-col-content .tabulator-arrow{
						border-top: none;
						border-bottom: 6px solid $sortArrowInactive;
					}
				}

				&[aria-sort="asc"]{
					.tabulator-col-content .tabulator-arrow{
						border-top: none;
						border-bottom: 6px solid $sortArrowActive;
					}
				}

				&[aria-sort="desc"]{
					.tabulator-col-content .tabulator-arrow{
						border-top: 6px solid $sortArrowActive;
						border-bottom: none;
					}
				}
			}

		}

		.tabulator-frozen{
			display: inline-block;
			position: absolute;

			// background-color: inherit;

			z-index: 10;

			&.tabulator-frozen-left{
				border-right:2px solid $rowBorderColor;
			}

			&.tabulator-frozen-right{
				border-left:2px solid $rowBorderColor;
			}
		}

		.tabulator-calcs-holder{
			box-sizing:border-box;
			min-width:200%;

			background:darken($headerBackgroundColor, 10%) !important;

			.tabulator-row{
				background:darken($headerBackgroundColor, 10%) !important;

				.tabulator-col-resize-handle{
					display: none;
				}
			}

			border-top:1px solid $rowBorderColor;
			border-bottom:1px solid $headerBorderColor;

			overflow: hidden;
		}


	}

	//scrolling element to hold table
	.tabulator-tableHolder{
		position:relative;
		width:100%;
		white-space: nowrap;
		overflow:auto;
		-webkit-overflow-scrolling: touch;

		&:focus{
			outline: none;
		}

		//default placeholder element
		.tabulator-placeholder{
			position: absolute;
			box-sizing:border-box;
			display: flex;
			align-items:center;

			top:0;
			left:0;
			height:100%;
			width:100%;

			span{
				display: inline-block;

				margin:0 auto;
				padding:10px;

				color:#eee;
				font-weight: bold;
				font-size: 20px;
			}
		}

		//element to hold table rows
		.tabulator-table{
			position:relative;
			display:inline-block;
			background-color:$rowBackgroundColor;
			white-space: nowrap;
			overflow:visible;
			color:$rowTextColor;

			.tabulator-row{
				&.tabulator-calcs{
					font-weight: bold;
					background:darken($rowAltBackgroundColor, 5%) !important;

					&.tabulator-calcs-top{
						border-bottom:2px solid $rowBorderColor;
					}

					&.tabulator-calcs-bottom{
						border-top:2px solid $rowBorderColor;
					}
				}
			}
		}
	}

	//row element
	.tabulator-row{
		position: relative;
		box-sizing: border-box;

		min-height:$textSize + ($headerMargin * 2);
		background-color: $rowBackgroundColor;

		&:nth-child(even){
			background-color: $rowAltBackgroundColor;
		}

		&.tabulator-selectable:hover{
			background-color:$rowHoverBackground;
			cursor: pointer;
		}

		&.tabulator-selected{
			background-color:$rowSelectedBackground;
		}

		&.tabulator-selected:hover{
			background-color:$rowSelectedBackgroundHover;
			cursor: pointer;
		}

		&.tabulator-moving{
			position: absolute;

			border-top:1px solid  $rowBorderColor;
			border-bottom:1px solid  $rowBorderColor;

			pointer-events: none !important;
			z-index:15;
		}

		.tabulator-frozen{
			display: inline-block;
			position: absolute;

			background-color: inherit;

			z-index: 10;

			&.tabulator-frozen-left{
				border-right:2px solid $rowBorderColor;
			}

			&.tabulator-frozen-right{
				border-left:2px solid $rowBorderColor;
			}
		}


		//cell element
		.tabulator-cell{
			display:inline-block;
			position: relative;
			box-sizing:border-box;
			padding:4px;
			border-right:1px solid $rowBorderColor;
			vertical-align:middle;
			white-space:nowrap;
			overflow:hidden;
			text-overflow:ellipsis;


			&.tabulator-editing{
				border:1px solid  $editBoxColor;
				padding: 0;

				input, select{
					border:1px;
					background:transparent;
				}
			}

			//hide left resize handle on first column
			&:first-child{
				.tabulator-col-resize-handle.prev{
					display: none;
				}
			}

			//movable row handle
			&.tabulator-row-handle{

				//Hamburger element
				.tabulator-row-handle-bar{
					width:80%;
					height:3px;
					margin:2px 10% 0 10%;
					background:#666;
				}
			}
		}


		//row grouping element
		&.tabulator-group{

			box-sizing:border-box;
			border-bottom:1px solid #999;
			border-right:1px solid $rowBorderColor;
			border-top:1px solid #999;
			padding:5px;
			padding-left:10px;
			background:#ccc;
			font-weight:bold;
			color:#333;

			min-width: 100%;

			&:hover{
				cursor:pointer;
				background-color:rgba(0,0,0,.1);
			}

			&.tabulator-group-visible{
				.tabulator-arrow{
					margin-right:10px;
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
					border-top: 6px solid $sortArrowActive;
					border-bottom: 0;
				}
			}

			&.tabulator-group-level-1{
				.tabulator-arrow{
					margin-left:20px;
				}
			}

			&.tabulator-group-level-2{
				.tabulator-arrow{
					margin-left:40px;
				}
			}

			&.tabulator-group-level-3{
				.tabulator-arrow{
					margin-left:60px;
				}
			}

			&.tabulator-group-level-4{
				.tabulator-arrow{
					margin-left:80px;
				}
			}

			&.tabulator-group-level-5{
				.tabulator-arrow{
					margin-left:1000px;
				}
			}

			//sorting arrow
			.tabulator-arrow{
				display: inline-block;
				width: 0;
				height: 0;
				margin-right:16px;
				border-top: 6px solid transparent;
				border-bottom: 6px solid transparent;
				border-right: 0;
				border-left: 6px solid $sortArrowActive;
				vertical-align:middle;
			}

			span{
				margin-left:10px;
				color:#666;
			}
		}
	}

	//column resize handles
	.tabulator-col-resize-handle{
		position:absolute;
		right:0;
		top:0;
		bottom:0;
		width:5px;

		&.prev{
			left:0;
			right:auto;
		}

		&:hover{
			cursor:ew-resize;
		}
	}


	//footer element
	.tabulator-footer{
		padding:5px 10px;
		border-top:1px solid $footerSeperatorColor;
		background-color: $footerBackgroundColor;
		text-align:right;
		color: $footerTextColor;
		font-weight:bold;
		white-space:nowrap;
		user-select:none;

		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-o-user-select: none;

		.tabulator-calcs-holder{
			box-sizing:border-box;
			width:calc("100% + 20px");
			margin:-5px -10px 5px -10px;

			text-align: left;

			background:darken($footerBackgroundColor, 5%) !important;

			.tabulator-row{
				background:darken($footerBackgroundColor, 5%) !important;
				color:$headerTextColor;

				.tabulator-col-resize-handle{
					display: none;
				}
			}

			border-bottom:1px solid $rowBorderColor;
			border-top:1px solid $rowBorderColor;

			overflow: hidden;

			&:only-child{
				margin-bottom:-5px;
				border-bottom:none;
			}
		}

		//pagination container element
		.tabulator-pages{
			margin:0 7px;
		}

		//pagination button
		.tabulator-page{
			display:inline-block;
			margin:0 2px;
			border:1px solid $footerBorderColor;
			border-radius:3px;
			padding:2px 5px;
			background:rgba(255,255,255,.2);
			color: $footerTextColor;
			font-family:inherit;
			font-weight:inherit;
			font-size:inherit;

			&.active{
				color:#fff;
			}

			&:disabled{
				opacity:.5;
			}

			&:not(.disabled){
				&:hover{
					cursor:pointer;
					background:rgba(0,0,0,.2);
					color:#fff;
				}
			}
		}
	}

	//holding div that contains loader and covers tabulator element to prevent interaction
	.tablulator-loader{
		position:absolute;
		display: flex;
		align-items:center;

		top:0;
		left:0;
		z-index:100;

		height:100%;
		width:100%;
		background:rgba(0,0,0,.4);
		text-align:center;

		//loading message element
		.tabulator-loader-msg{
			display:inline-block;

			margin:0 auto;
			padding:10px 20px;

			border-radius:10px;

			background:#fff;
			font-weight:bold;
			font-size:16px;

			//loading message
			&.tabulator-loading{
				border:4px solid #333;
				color:#000;
			}

			//error message
			&.tabulator-error{
				border:4px solid #D00;
				color:#590000;
			}
		}
	}
}